# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
dist
dist-single-spa
dist-storybook
tmp
/out-tsc
temp
# dependencies
node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

# Env files
.env

# Next js 
.pnp
.pnp.js

# next.js
.next/
out/


# misc
*.pem

# vercel
.vercel

# typescript
next-env.d.ts
